{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
<!--    fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<!--    css file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Add A Movie{% endblock %}

{% block content %}
    <div class="container">
      <h1 class="heading">Add A Movie</h1>

        {% if not results: %}
            <div class="card">
                <p>No Result found</p>
            </div>
        {% else %}
            {% for movie in results %}
            <p>
                <a href="#" class="description">{{ movie.title }} - {{ movie.release_date }}</a>
            </p>
            {% endfor %}
        {% endif %}

    </div>

{% endblock%}